{% load i18n %}
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">{% trans "navbar" %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">{% trans 'navbarhome' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% trans 'navbarfeatures' %}</a>
                    </li>

                    <div class="dropdown me-auto">
                        {% get_current_language as CURRENT_LANGUAGE %}
                        {% get_available_languages as AVAILABLE_LANGUAGES %}
                        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}

                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Change Language
                        </button>
                        <ul class="dropdown-menu">
                            {% for language in languages %}
                                <li>
                                    <a class="dropdown-item {% if language.code == CURRENT_LANGUAGE %}active{% endif %}" href="{% if language.code == 'en' %}/{% else %}/{{ language.code }}/{% endif %}">{{ language.name_local }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </ul>
            </div>
        </div>
    </nav>
</header>
